<footer>
    <div class="social-media-wrap">
        <a href="" target="_blank">
            <img class="zoom" src="assets/img/linkedin.png"> 
        </a> 
        <a href="" target="_blank">
            <img class="zoom" src="assets/img/github.png"> 
        </a>
    </div>
    <div class="legal">
        <button class="button">
            <a routerLink="/imprint">Imprint</a>
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
        </button>
        <button class="button">
            <a routerLink="/data-protection">Data protection</a>
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
        </button>
    </div>
    <span> © 2021 Dan Dumitru Mercurean</span>
</footer>