<div class="section-container">

    <div class="section-header">About
        <div class="header-line"></div>
    </div>



    <div class="skills-wrap">
        <div class="bio-wrap">
            <img src="../../assets/img/profile.jpg">
            <h2>Hi I'm Dan,</h2>
            <p>I love to travel, gaining new experience addicted and <strong>Front-End Developer</strong> based in Vienna, Austria</p>
        </div>

        <div class="bar-wrap">
            <div class="bar" *ngFor="let skill of skills">
                <div class="bar-scale">
                    <div class="bar-fill" [style.width]="skill.skillLevel + '%'"></div>
                    <div class="bar-tag flex"> {{ skill.skillName }}</div>
                    <div class="bar-value"></div>
                    <!-- {{ skill.skillLevel + '%'}} -->
                </div>
            </div>
        </div>

    </div>
    <div class="label-wrap">
        <div class="label" *ngFor="let characteristic of characteristics">
            <div class="char-icon flex">
                <img src="{{characteristic.icon}}">
            </div>
            <h2>{{ characteristic.charName }}</h2>
            <p class="flex">{{ characteristic.charDescr }}</p>
        </div>
    </div>
</div>