.input-group .form-control {
    z-index: 0 !important;
}

.full-width {
    width: 100%;
}

.shipping-card {
    min-width: 120px;
    // margin-top: 100px;
    margin-bottom: 180px;
}

.mat-radio-button {
    display: block;
    margin: 5px 0;
}

.row {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.mat-card-header .mat-card-title {
    font-family: Playfair Display;
    font-size: 40px;
    line-height: 110px;
    font-weight: 400;
}
.btn-send {
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        background-color: rgb(34, 78, 135);
        border-radius: 6px;
        font-size: 18px;
        color: white;
        border-color: rgb(34, 78, 135);
        padding: 8px;
        outline: none;
        border: 0px;
        cursor: pointer;
    }
}
@media (max-width: 700px) {
    .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
