<header [class.headerDark] = "darkMode">
    <img *ngIf="!darkMode" routerLink="/" src="assets/img/logo_white.png">
    <img *ngIf="darkMode" routerLink="/" src="assets/img/logo.png">

    <div [class.darkLinks] = "darkMode">
        <a routerLink="/">Home</a>
        <!-- <a href="#">Curriculum</a> -->
        <a routerLink="/portfolio">Portfolio</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection">Data protection</a>
    </div>
    <!-- <mat-icon (click)="openMenu()"></mat-icon> -->
    <!-- <div id="nav-icon2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div> -->
</header>
