a {
    text-decoration: none;
    color: #000;
}

.portfolio-card-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 25px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 57%);

    img {
        display: flex;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
.text-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: rgba(1, 1, 1, 0.8);
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: 2s;
    color: #fff;
    padding: 10px;

    &:hover {
        background-color: rgba(1, 1, 1, 0);
        color: rgba(1, 1, 1, 0);
    }

    p {
        text-align: center;
    }
}

.portfolio-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}