<div id="projects-list" class="projects-list">
    <a target="_blank" href="http://gruppe-51b.developerakademie.com/index.html">
        <div class="portfolio-card-container">
            <img src="/assets/img/projects/join.png">
            <!---->
            <div class="text-container">
                <h3>JOIN</h3>
                <p>Group project of a<br>Task Management JavaScript App</p>
            </div>
        </div>
    </a>
    
    <a target="_blank" href="http://dan-mercurean.developerakademie.com/EL%20POLLO%20LOCO/index.html">
        <div class="portfolio-card-container">
            <img src="/assets/img/projects/elpolloloco.png">
            <!---->
            <div class="text-container">
                <h3>EL POLLO LOCO</h3>
                <p>Jump & Run game <br>JavaScript App</p>
            </div>
        </div>
    </a>
    
    <a target="_blank" href="http://dan-mercurean.developerakademie.com/dan/Kochwelt-Gruppenarbeit/index.html">
        <div class="portfolio-card-container">
            <img src="/assets/img/projects/kochwelt.png">
            <!---->
            <div class="text-container">
                <h3>KOCHWELT</h3>
                <p>Cooking recipes group project app</p>
            </div>
        </div>
    </a>
    
    </div>