<div class="portfolio-main-container portfolio-projects">
    <h1 class="add-animation-left">PORTFOLIO</h1>
</div>

<div class="portfolio-category">
    <div class="add-animation-left" [class.active]="currentFilter === ''" (click)="updateFilter()">All</div>
    <div class="add-animation-left" [class.active]="currentFilter === 'Angular'" (click)="updateFilter('Angular')">
        Angular</div>
    <div class="add-animation-left" [class.active]="currentFilter === 'JavaScript'"
        (click)="updateFilter('JavaScript')">JavaScript</div>
</div>


<div class="portfolio-projects add-animation-left">
    <div class="add-animation-left image" *ngFor="let project of visibleProjects">
        <img class="portfolio_img" src="{{ './assets/img/projects/' + project.img }}">
        <div class="project-overlay">
            <h1>{{ project.title }}</h1>
            <p>{{ project.details }}</p>
            <div class="project-btn">
                <button><a href="{{ project.app_link }}" >Try it yourself</a></button>
            </div>
        </div>
    </div>

</div>


<!-- <div>
    <mat-grid-list cols="3" rowHeight="1.5:1">
        <mat-grid-tile *ngFor="let project of visibleProjects" >
            <img src="{{ './assets/img/projects/' + project.img }}">
            <div class="project-overlay">
                <span>{{ project.title }}</span>
            </div>
            
        </mat-grid-tile>
    </mat-grid-list>
</div>   -->