.portfolio-main-container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    align-items: center;
    color: rgba(0, 0, 0, 0.1);
}

.portfolio-projects {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
