.portfolio-main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  align-items: center;
  // color: rgba(0, 0, 0, 0.1);
}

.portfolio-projects {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2srem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 10px auto;
    width: 60px;
    height: 4px;
    background: #444649;
  }
}
.portfolio-category {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  div {
    font-size: 1.5rem;
    padding: 1rem 0;
    width: calc(60% / 3);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 225ms ease-in-out;
  }
}
.portfolio-category-clicked {
  color: white;
  background-color: #d85050;
  transition: all 225ms ease-in-out;
  &:hover {
    color: #d85050;
  }
}

.active {
  background-color: #d85050;
  color: #fff !important;
}
.project-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition: all 225ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  margin-bottom: 50px;
  .project-btn {
    // position: absolute;
    position: relative;
    align-items: center;
    bottom: 30px;
  }
  h1 {
    position: relative;
    align-items: center;
    // position: absolute;
    top: 5px;
    font-size: medium;
    :after {
      top: 230%;
    }
  }
  p {
    margin: 0 0 75px;
    position: relative;
    align-items: center;
    // position: absolute;
    text-align: center;
  }
  &:hover {
    opacity: 0.95;
  }
}

.portfolio-projects {
  width: 100%;
  margin: auto;
}

.image {
  position: relative;
  margin-bottom: 50px;
  margin: auto;
  height: 50%;
  width: 50%;
  object-fit: cover;
  img {
    margin-bottom: 50px;
  }
}

.portfolio_img {
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  button {
    margin-top: 10px;
    color: #224e87 !important;
    background-color: #f5f5f5;
    border: 1px solid #224e87;
    text-transform: uppercase;
    transition: 225ms all ease-in-out;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 800;
    text-decoration: none;
    border-radius: 6px;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: white;
      }
    }
    &:hover {
      background-color: #224e87;
      color: white !important;
    }
  }
}
@media (max-width: 600px) {
  .portfolio-category {
    font-size: 12px;
    width: unset;
    div {
      width: unset;
    }
  }
}

@media (max-width: 850px) {
  .portfolio-projects {
    flex-direction: column;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .portfolio-category {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .project-overlay {
    h1 {
      font-size: medium;
      :after {
        top: 400%;
      }
    }
  }
}
@media (max-width: 400px) {
  .project-overlay {
    .project-btn {
      bottom: 5px;
    }
    h1 {
      font-size: small;
    }
    p {
      margin: 0;
      font-size: smaller;
    }
    h1 {
      font-size: small;
      :after {
        top: 400%;
      }
    }
  }
  .project-btn {
    button {
      margin-top: 5px;
      font-weight: 0;
    }
  }
}
