.container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
    height: 100vh;
}

@media (max-width: 700px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
        height: auto;
    }
}

