body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.add-animation-left {
    animation: slideLeft 1.0s ease-in-out;
}

@keyframes slideLeft {
    0% {
        transform: skew(0deg) translateX(-500px);
    }
    100% {
        transform: skew(0deg);
    }
}

@keyframes slideRight {
    0% {
        transform: skew(0deg) translateX(500px);
    }
    100% {
        transform: skew(0deg);
    }
}